.Container-profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

.Container-image {
    height:150px;
    width:150px;
}

.Image-profile {
    resize:inherit;
    height:100%;
    width:100%;
    border-radius:50%;
    object-fit:contain;
}